:root {
  --bg-color: hsl(0, 0%, 98%);
  --main-color: hsl(0, 0%, 8%);
  --accent-color: hsl(0, 0%, 41%);
}

body {
  background-color: var(--bg-color);
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

button {
  font-family: "Epilogue", sans-serif;
  font-size: 1em;
  color: var(--accent-color);
  padding: 0.8em 1.3em;
  border-radius: 15px;
  border: 2px var(--accent-color) solid;
  background-color: var(--bg-color);
}

button:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

/*#region Navigation */

.mobile-nav {
  display: none;
}

.hide {
  visibility: hidden;
}

.desktop-nav {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0px;
}

.desktop-nav > img {
  height: 28px;
}

.desktop-nav > div:nth-of-type(1) {
  margin-right: auto;
  margin-left: 5em;
  display: flex;
}

.desktop-nav > div:nth-of-type(1) > a {
  margin-right: 2.5em;
}

.desktop-nav > div > button {
  margin-left: 2.5em;
}

a {
  letter-spacing: -0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

.drop-down > button > span > img {
  position: relative;
  bottom: 2px;
  margin-left: 0.2em;
}

.drop-down > button > span:hover {
  filter: brightness(0%);
}

.drop-down > button {
  padding: 0;
  border: none;
  margin-right: 2.5em;
  position: relative;
}

/*#endregion */

/*#region Dropdown */

.drop-down {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 82;
  left: -70px;
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  border-radius: 10px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
}

#company-menu {
  left: -40px;
}

.menu > div {
  position: relative;
  margin-bottom: 16px;
  margin-left: 1.6em;
}

.menu > div:last-of-type {
  margin-bottom: 0;
}

.menu > div > img {
  position: absolute;
  top: -3px;
  left: -24px;
}

.menu > a {
  margin-bottom: 16px;
}

.menu > a:last-of-type {
  margin: 0;
}

/*#endregion */

/*#region Main */

main {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 2em;
  margin-bottom: 7em;
}

h1 {
  font-size: 5em;
  margin-top: 1em;
}

p {
  max-width: 400px;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--accent-color);
}

main > img {
  content: url("images/image-hero-desktop.png");
  width: 400px;
  margin-left: 11em;
}

main > div > button {
  margin-top: 2em;
  background-color: var(--main-color);
  border: 2px var(--main-color) solid;
  color: var(--bg-color);
  font-size: 1.2em;
  font-weight: 800;
  padding: 1em 1.5em;
}

main > div > button:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 2px var(--accent-color) solid;
}

main > div > div {
  display: flex;
  justify-content: space-between;
}

main > div > div > img {
  align-self: center;
  margin-top: 6.8em;
  margin-right: 1.5em;
  width: 80px;
}

main > div > div > img:nth-of-type(2) {
  width: 60px;
}

main > div > div > img:nth-of-type(4) {
  margin-right: 0;
}

/*#endregion */

/*#region Attribution */

.attribution {
  font-size: 0.9em;
  text-align: center;
  color: var(--accent-color);
}
.attribution a {
  color: var(--main-color);
  text-decoration: underline;
}

/*#endregion */

/*#region 1000 px media queries*/

@media (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    max-width: 400px;
    margin-bottom: 5em;
  }

  main > img {
    margin: 0;
  }

  main > div {
    display: flex;
    flex-direction: column;
  }

  main > div > h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0;
  }

  main > div > button {
    max-width: 150px;
    align-self: center;
    margin-top: 1em;
  }

  main > div > p {
    margin-top: 1em;
  }

  main > div > div > img {
    margin-top: 3.5em;
  }
}

/*#endregion */

/*#region 750 px media queries*/

@media (max-width: 750px) {
  body {
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 95vw;
    max-width: 750 px;
    padding: 1em;
    justify-content: space-between;
  }

  .mobile-nav > img {
    height: 28px;
    margin-right: auto;
  }

  .mobile-nav > div > button {
    padding: 0.2em;
    border: none;
  }

  main > div > h1 {
    font-size: 2.1em;
    margin-top: 2em;
  }

  main > div > button,
  main > div > p {
    margin-top: 1.5em;
  }

  main > div {
    width: 95vw;
  }

  main > img {
    content: url("images/image-hero-mobile.png");
    width: 95vw;
  }

  main > div > div > img {
    width: 50px;
  }
}
/*#endregion */
